
.img--logo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 0 0 50px #ccc;
    border: #cecbcb 1px solid;
}

td, th, tr {
    vertical-align: top;
}

.table--data {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

.table--data th, .table--data td {
    text-align: left;
    height: 45px;
    border-radius: 4px;
    border-bottom: 1px solid #EEF1F8;
    padding-left: 20px;
    padding-right: 20px;

}

.table--data th:last-child, .table--data td:last-child {
    text-align: right;
    padding-right: 12px;
}

.table--data th {
    font-weight: 500;
    background: #F8F9FB;
}

.pagenum:before {
    content: counter(page);
}

@page {
    margin-bottom: 60px;
}


footer {
    position: fixed;
    bottom: -60px;
    left: 0;
    right: 0;
    height: 60px;
}

