
.img--logo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 0 0 50px #ccc;
    border: #cecbcb 1px solid;
}

.table--text {
    width: 100%;
}

.table--text tr {
    vertical-align: baseline;
}


.table--data {
    color: #0D3636;
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    /*table-layout: fixed;*/
}

.table--data th, .table--data td {
    text-align: left;
    height: 45px;
    border-radius: 4px;
    border-bottom: 1px solid #EEF1F8;
    /*border: 1px solid #EEF1F8;*/
    word-wrap: break-word;
    padding-right: 15px;


}


.table--data th:last-child, .table--data td:last-child {
    text-align: right;
}

.table--data th {
    font-weight: 500;
    background: #F8F9FB;
    vertical-align: middle;
    white-space: nowrap;

}

.table--data td {
    vertical-align: middle;

}

.pagenum:before {
    content: counter(page);
}

@page {
    margin-bottom: 60px;
}


footer {
    position: fixed;
    bottom: -60px;
    left: 0;
    right: 0;
    height: 60px;
}

