
body {
    font-family: 'Red Hat Text', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.w-50 {
    width: 50%;
}

.w-70 {
    width: 70%;
}

.w-30 {
    width: 30%;
}

.w-100 {
    width: 100%;
}


.title {
    margin-top: -10px;
    font-size: 30px;
    line-height: 1;
}

.semibold {
    font-weight: 500;
}

.subTitle {
    font-weight: 500;
    font-size: 18px;
}

.subTitle2 {
    font-size: 16px;
}

.caption {
    font-size: 11px;
}

hr {
    color: #E4EFEB;
}

.align-top {
    vertical-align: top !important;
}

.align-middle {
    vertical-align: middle !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.text-nowrap {
    white-space: nowrap !important;
}

.color-primary-dark {
    color: #0D3636;
}
